{% extends "base.html" %}

{% block body %}
<form method="POST" class="auth_container">
  <ul class="form_container">
    <li class="form_title">
      <h1>Set new pin</h1>
    </li>

    <li class="form_element">
      <label for="email">EMAIL</label>
      <input type="text" id="email" name="email" />
    </li>

    <li class="form_element">
      <label for="pin">New pin</label>
      <input type="password" id="pin" name="new-pin" pattern="[0-9]+" />
    </li>

    <li class="form_button">
      <button class="submit_button" type="submit">
        <a href="{{ url_for('index') }}">Submit</a>
      </button>
    </li>
    {% if not is_correct %}
      Uh-oh something went wrong
    {% endif %}
  </ul>
</form>
{% endblock %}


